@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/tópicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --cor-de-fundo: #EBECEE; 
    --cor-branca: #FFFFFF;
    --cor-laranja: #EB9B00;
    --cor-azul-degrade: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --cor-azul-escuro: #002F52;
    --cor-preta: #000000;
    --cor-cinza: #474646;
    --cor-cinza-claro: #858585;
    --font-principal: 'Poppins';
    --font-secundaria: 'Josefin Sans';
}

body {
    font-family: var(--font-principal);
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 400;  
}